[Unit]
Description=Fronius Battery Control
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/fronius-bc
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=fronius-bc.service